# Pokemon

### Introduction:

This time you will create the data.

### Create a data dictionary

In [6]:
import pandas as pd

In [8]:
 df =pd.read_clipboard()

### Assign it to a variable called pokemon

In [10]:
df_pokemon =df.to_dict()

In [13]:
df_pokemon = pd.DataFrame(df_pokemon)
df_pokemon.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
def_pokemon = df_pokemon[['name', 'type', 'hp', 'evolution','pokedex']]
df_pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Add another column called place, and insert what you have in mind.

In [15]:
df_pokemon['place'] = ['park','street','lake','forest']
df_pokemon

    evolution  hp        name pokedex   type   place
0     Ivysaur  45   Bulbasaur     yes  grass    park
1  Charmeleon  39  Charmander      no   fire  street
2   Wartortle  44    Squirtle     yes  water    lake
3     Metapod  45    Caterpie      no    bug  forest

### Present the type of each column

In [16]:
df_pokemon.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.