# Pokemon

### Introduction:

This time you will create the data.

### Create a data dictionary that looks like the DataFrame below

In [6]:
import pandas as pd

In [1]:
data ={'evolution':[ 'Ivysaur','Charmeleon', 'Wartortle','Merapod'],
    'hp':[45,39,44,45],
      'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
      'pokedex':['yes','no', 'yes','no'],
      'type':['grass','fire','water','bug']}

In [7]:
pd.DataFrame(data=data)

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Merapod  45    Caterpie      no    bug

### Assign it to a variable called pokemon

In [10]:
pokemon = pd.DataFrame(data=data)

In [11]:
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Merapod  45    Caterpie      no    bug

### Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [19]:
pokemon =pokemon[['name', 'type','hp', 'pokedex']]

In [20]:
pokemon

         name   type  hp pokedex
0   Bulbasaur  grass  45     yes
1  Charmander   fire  39      no
2    Squirtle  water  44     yes
3    Caterpie    bug  45      no

### Add another column called place, and insert what you have in mind.

In [24]:
place1 = [1 ,2 ,5 ,0]

In [26]:
pokemon['place'] =place1

C:\Users\USER\AppData\Local\Temp\ipykernel_10360\2343426400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] =place1

In [27]:
pokemon

         name   type  hp pokedex  place
0   Bulbasaur  grass  45     yes      1
1  Charmander   fire  39      no      2
2    Squirtle  water  44     yes      5
3    Caterpie    bug  45      no      0

### Present the type of each column

In [28]:
pokemon.dtypes

name       object
type       object
hp          int64
pokedex    object
place       int64
dtype: object

### BONUS: Create your own question and answer it.

In [29]:
pokemon.columns

Index(['name', 'type', 'hp', 'pokedex', 'place'], dtype='object')